body, html {
  max-width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

.bg-primary {
  background-color: #1e88e5 !important; }

.bg-info {
  background-color: #00acc1 !important; }

.bg-danger {
  background-color: #e53935 !important; }

.bg-success {
  background-color: #43a047 !important; }

.bg-warning {
  background-color: #fdd835 !important; }

.bg-prulife {
  background-color: #ED1B2E !important; }

.bg-grass-green {
  background-color: #007953 !important; }

.bg-bright-blue {
  background-color: #0064B9 !important; }

.bg-sun-yellow {
  background-color: #FFB81D !important; }

.bg-none {
  background-color: transparent; }

.font-primary {
  color: #1e88e5 !important; }

.font-info {
  color: #00acc1 !important; }

.font-danger {
  color: #e53935 !important; }

.font-success {
  color: #43a047 !important; }

.font-warning {
  color: #fdd835 !important; }

.font-white {
  color: #fff !important; }

.font-black, .item {
  color: #2b2b2b !important; }

.font-gray {
  color: #bdbdbd !important; }

.font-prulife {
  color: #ED1B2E !important; }

.font-grass-green {
  color: #007953 !important; }

.font-bright-blue {
  color: #0064B9 !important; }

.font-sun-yellow {
  color: #FFB81D !important; }

.h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }

.h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }

.h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }

.h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }

.h5 {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }

.h6, .item {
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.btn {
  padding: 10px;
  text-align: center;
  outline: none;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all 0.3s ease-out;
  margin: 5px;
  cursor: pointer;
  border-radius: 3px; }
  .btn.prulife {
    background-color: #ED1B2E;
    color: #fff;
    border: solid 3px #ED1B2E; }
    .btn.prulife:hover {
      background-color: #fff;
      color: #ED1B2E;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .btn.primary {
    background-color: #1e88e5;
    color: #fff;
    border: solid 3px #1e88e5; }
    .btn.primary:hover {
      background-color: #fff;
      color: #1e88e5;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .btn.danger {
    background-color: #e53935;
    color: #fff;
    border: solid 3px #e53935; }
    .btn.danger:hover {
      background-color: #fff;
      color: #e53935;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .btn.info {
    background-color: #00acc1;
    color: #fff;
    border: solid 3px #00acc1; }
    .btn.info:hover {
      background-color: #fff;
      color: #00acc1;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .btn.warning {
    background-color: #fdd835;
    color: #fff;
    border: solid 3px #fdd835; }
    .btn.warning:hover {
      background-color: #fff;
      color: #fdd835;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .btn.success {
    background-color: #43a047;
    color: #fff;
    border: solid 3px #43a047; }
    .btn.success:hover {
      background-color: #fff;
      color: #43a047;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }

.btn-l {
  padding: 15px;
  text-align: center;
  outline: none;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all 0.3s ease-out;
  margin: 5px;
  cursor: pointer;
  border-radius: 3px; }
  .btn-l.primary {
    background-color: #1e88e5;
    color: #fff;
    border: solid 3px #1e88e5; }
    .btn-l.primary:hover {
      background-color: #fff;
      color: #1e88e5;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .btn-l.danger {
    background-color: #e53935;
    color: #fff;
    border: solid 3px #e53935; }
    .btn-l.danger:hover {
      background-color: #fff;
      color: #e53935;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .btn-l.info {
    background-color: #00acc1;
    color: #fff;
    border: solid 3px #00acc1; }
    .btn-l.info:hover {
      background-color: #fff;
      color: #00acc1;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .btn-l.warning {
    background-color: #fdd835;
    color: #fff;
    border: solid 3px #fdd835; }
    .btn-l.warning:hover {
      background-color: #fff;
      color: #fdd835;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .btn-l.success {
    background-color: #43a047;
    color: #fff;
    border: solid 3px #43a047; }
    .btn-l.success:hover {
      background-color: #fff;
      color: #43a047;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }

.btn-s {
  padding: 5px;
  text-align: center;
  outline: none;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all 0.3s ease-out;
  margin: 5px;
  cursor: pointer;
  border-radius: 3px; }
  .btn-s.primary {
    background-color: #1e88e5;
    color: #fff;
    border: solid 3px #1e88e5; }
    .btn-s.primary:hover {
      background-color: #fff;
      color: #1e88e5;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .btn-s.danger {
    background-color: #e53935;
    color: #fff;
    border: solid 3px #e53935; }
    .btn-s.danger:hover {
      background-color: #fff;
      color: #e53935;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .btn-s.info {
    background-color: #00acc1;
    color: #fff;
    border: solid 3px #00acc1; }
    .btn-s.info:hover {
      background-color: #fff;
      color: #00acc1;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .btn-s.warning {
    background-color: #fdd835;
    color: #fff;
    border: solid 3px #fdd835; }
    .btn-s.warning:hover {
      background-color: #fff;
      color: #fdd835;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .btn-s.success {
    background-color: #43a047;
    color: #fff;
    border: solid 3px #43a047; }
    .btn-s.success:hover {
      background-color: #fff;
      color: #43a047;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }

.btn-alt {
  padding: 10px;
  text-align: center;
  outline: none;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all 0.3s ease-out;
  margin: 5px;
  cursor: pointer;
  border-radius: 3px; }
  .btn-alt.primary {
    background-color: #1e88e5;
    color: #fff;
    border: solid 3px #1e88e5; }
    .btn-alt.primary:hover {
      background-color: #26aaff;
      color: #fff;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
    .btn-alt.primary:focus {
      background-color: #fff;
      color: #1e88e5;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .btn-alt.danger {
    background-color: #e53935;
    color: #fff;
    border: solid 3px #e53935; }
    .btn-alt.danger:hover {
      background-color: #ff4742;
      color: #fff;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
    .btn-alt.danger:focus {
      background-color: #fff;
      color: #e53935;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .btn-alt.info {
    background-color: #00acc1;
    color: #fff;
    border: solid 3px #00acc1; }
    .btn-alt.info:hover {
      background-color: #00d7f1;
      color: #fff;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
    .btn-alt.info:focus {
      background-color: #fff;
      color: #00acc1;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .btn-alt.warning {
    background-color: #fdd835;
    color: #fff;
    border: solid 3px #fdd835; }
    .btn-alt.warning:hover {
      background-color: #ffff42;
      color: #2b2b2b;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
    .btn-alt.warning:focus {
      background-color: #fff;
      color: #fdd835;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .btn-alt.success {
    background-color: #43a047;
    color: #fff;
    border: solid 3px #43a047; }
    .btn-alt.success:hover {
      background-color: #54c859;
      color: #fff;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
    .btn-alt.success:focus {
      background-color: #fff;
      color: #43a047;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }

.btn-alt-l {
  padding: 15px;
  text-align: center;
  outline: none;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all 0.3s ease-out;
  margin: 5px;
  cursor: pointer;
  border-radius: 3px; }
  .btn-alt-l.primary {
    background-color: #1e88e5;
    color: #fff;
    border: solid 3px #1e88e5; }
    .btn-alt-l.primary:hover {
      background-color: #26aaff;
      color: #fff;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
    .btn-alt-l.primary:focus {
      background-color: #fff;
      color: #1e88e5;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .btn-alt-l.danger {
    background-color: #e53935;
    color: #fff;
    border: solid 3px #e53935; }
    .btn-alt-l.danger:hover {
      background-color: #ff4742;
      color: #fff;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
    .btn-alt-l.danger:focus {
      background-color: #fff;
      color: #e53935;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .btn-alt-l.info {
    background-color: #00acc1;
    color: #fff;
    border: solid 3px #00acc1; }
    .btn-alt-l.info:hover {
      background-color: #00d7f1;
      color: #fff;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
    .btn-alt-l.info:focus {
      background-color: #fff;
      color: #00acc1;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .btn-alt-l.warning {
    background-color: #fdd835;
    color: #fff;
    border: solid 3px #fdd835; }
    .btn-alt-l.warning:hover {
      background-color: #ffff42;
      color: #2b2b2b;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
    .btn-alt-l.warning:focus {
      background-color: #fff;
      color: #fdd835;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .btn-alt-l.success {
    background-color: #43a047;
    color: #fff;
    border: solid 3px #43a047; }
    .btn-alt-l.success:hover {
      background-color: #54c859;
      color: #fff;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
    .btn-alt-l.success:focus {
      background-color: #fff;
      color: #43a047;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }

.btn-alt-s {
  padding: 5px;
  text-align: center;
  outline: none;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all 0.3s ease-out;
  margin: 5px;
  cursor: pointer;
  border-radius: 3px; }
  .btn-alt-s.primary {
    background-color: #1e88e5;
    color: #fff;
    border: solid 3px #1e88e5; }
    .btn-alt-s.primary:hover {
      background-color: #26aaff;
      color: #fff;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
    .btn-alt-s.primary:focus {
      background-color: #fff;
      color: #1e88e5;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .btn-alt-s.danger {
    background-color: #e53935;
    color: #fff;
    border: solid 3px #e53935; }
    .btn-alt-s.danger:hover {
      background-color: #ff4742;
      color: #fff;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
    .btn-alt-s.danger:focus {
      background-color: #fff;
      color: #e53935;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .btn-alt-s.info {
    background-color: #00acc1;
    color: #fff;
    border: solid 3px #00acc1; }
    .btn-alt-s.info:hover {
      background-color: #00d7f1;
      color: #fff;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
    .btn-alt-s.info:focus {
      background-color: #fff;
      color: #00acc1;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .btn-alt-s.warning {
    background-color: #fdd835;
    color: #fff;
    border: solid 3px #fdd835; }
    .btn-alt-s.warning:hover {
      background-color: #ffff42;
      color: #2b2b2b;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
    .btn-alt-s.warning:focus {
      background-color: #fff;
      color: #fdd835;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .btn-alt-s.success {
    background-color: #43a047;
    color: #fff;
    border: solid 3px #43a047; }
    .btn-alt-s.success:hover {
      background-color: #54c859;
      color: #fff;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
    .btn-alt-s.success:focus {
      background-color: #fff;
      color: #43a047;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }

input {
  /* Chrome/Opera/Safari */
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all 0.3s ease-out; }
  input.input {
    outline: none;
    margin: 5px;
    padding: 10px;
    border: solid 1px #bdbdbd;
    color: #2b2b2b; }
  input:focus {
    transition: all .3 ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: solid 1px #1e88e5; }

input {
  /* Chrome/Opera/Safari */
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all 0.3s ease-out; }
  input.input-s {
    outline: none;
    margin: 5px;
    padding: 5px;
    border: solid 1px #bdbdbd;
    color: #2b2b2b; }
  input:focus {
    transition: all .3 ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: solid 1px #1e88e5; }

input {
  /* Chrome/Opera/Safari */
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all 0.3s ease-out; }
  input.input-l {
    outline: none;
    margin: 5px;
    padding: 15px;
    border: solid 1px #bdbdbd;
    color: #2b2b2b; }
  input:focus {
    transition: all .3 ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: solid 1px #1e88e5; }

select {
  /* Chrome/Opera/Safari */
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all 0.3s ease-out; }
  select.select {
    cursor: pointer;
    outline: none;
    margin: 5px;
    padding: 10px;
    border: solid 1px #bdbdbd;
    color: #2b2b2b; }
  select:focus {
    transition: all .3 ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: solid 1px #1e88e5; }

select {
  /* Chrome/Opera/Safari */
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all 0.3s ease-out; }
  select.select-s {
    cursor: pointer;
    outline: none;
    margin: 5px;
    padding: 5px;
    border: solid 1px #bdbdbd;
    color: #2b2b2b; }
  select:focus {
    transition: all .3 ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: solid 1px #1e88e5; }

select {
  /* Chrome/Opera/Safari */
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all 0.3s ease-out; }
  select.select-l {
    cursor: pointer;
    outline: none;
    margin: 5px;
    padding: 15px;
    border: solid 1px #bdbdbd;
    color: #2b2b2b; }
  select:focus {
    transition: all .3 ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: solid 1px #1e88e5; }

select {
  /* Chrome/Opera/Safari */
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all 0.3s ease-out; }
  select.select-no-effect {
    cursor: pointer;
    outline: none;
    margin: 5px;
    padding: 10px;
    border: solid 1px #bdbdbd;
    color: #2b2b2b;
    box-shadow: none; }

.item {
  font-weight: 300;
  padding: 50px; }

select {
  /* Chrome/Opera/Safari */
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all 0.3s ease-out; }
  select.select-no-effect-s {
    cursor: pointer;
    outline: none;
    margin: 5px;
    padding: 5px;
    border: solid 1px #bdbdbd;
    color: #2b2b2b;
    box-shadow: none; }

select {
  /* Chrome/Opera/Safari */
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all 0.3s ease-out; }
  select.select-no-effect-l {
    cursor: pointer;
    outline: none;
    margin: 5px;
    padding: 15px;
    border: solid 1px #bdbdbd;
    color: #2b2b2b;
    box-shadow: none; }

.padding-10 {
  padding: 10px; }

.invisible {
  visibility: hidden; }

.hidden {
  display: none; }

.no-border {
  border: none !important; }

.inline {
  display: inline; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline-grid {
  display: inline-grid; }

.no-margin {
  margin: 0t !important; }

.no-padding {
  padding: 0 !important; }

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex; }

.flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.fit-height {
  min-height: -webkit-fill-available; }

.fit-width {
  min-width: -webkit-fill-available; }

.fullscreen-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.disabled {
  cursor: not-allowed; }

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex; }
  .flex.f-wrap, .flex .f-wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
  .flex.f-center, .flex .f-center {
    justify-content: center;
    align-items: center; }
  .flex.f-start, .flex .f-start {
    justify-content: flex-start; }
  .flex.f-end, .flex .f-end {
    justify-content: flex-end; }
  .flex.f-row, .flex .f-row {
    flex-direction: row; }
  .flex.f-column, .flex .f-column {
    flex-direction: column; }
  .flex.f-justify-space-between, .flex .f-justify-space-between {
    justify-content: space-between; }
  .flex.f-justify-around, .flex .f-justify-around {
    justify-content: space-around; }

.box {
  background-color: white;
  border: solid #bdbdbd 1px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }

.fullscreen-container {
  height: 100%;
  width: 100%; }

@media only screen and (min-width: 1280px) {
  .col {
    padding: 10px;
    max-width: 100%;
    width: 100%; }
    .col.xl-12, .col .xl-12 {
      max-width: 100%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 88%; }
    .col.xl-11, .col .xl-11 {
      max-width: 91.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 80.6666666667%; }
    .col.xl-10, .col .xl-10 {
      max-width: 83.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 73.3333333333%; }
    .col.xl-9, .col .xl-9 {
      max-width: 75%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 66%; }
    .col.xl-8, .col .xl-8 {
      max-width: 66.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 58.6666666667%; }
    .col.xl-7, .col .xl-7 {
      max-width: 58.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 51.3333333333%; }
    .col.xl-6, .col .xl-6 {
      max-width: 50%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 44%; }
    .col.xl-5, .col .xl-5 {
      max-width: 41.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 36.6666666667%; }
    .col.xl-4, .col .xl-4 {
      max-width: 33.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 29.3333333333%; }
    .col.xl-3, .col .xl-3 {
      max-width: 25%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 22%; }
    .col.xl-2, .col .xl-2 {
      max-width: 16.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 14.6666666667%; }
    .col.xl-1, .col .xl-1 {
      max-width: 8.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 7.3333333333%; } }
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .col {
    padding: 10px;
    max-width: 100%;
    width: 100%; }
    .col.l-12, .col .l-12 {
      max-width: 100%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 88%; }
    .col.l-11, .col .l-11 {
      max-width: 91.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 80.6666666667%; }
    .col.l-10, .col .l-10 {
      max-width: 83.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 73.3333333333%; }
    .col.l-9, .col .l-9 {
      max-width: 75%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 66%; }
    .col.l-8, .col .l-8 {
      max-width: 66.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 58.6666666667%; }
    .col.l-7, .col .l-7 {
      max-width: 58.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 51.3333333333%; }
    .col.l-6, .col .l-6 {
      max-width: 50%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 44%; }
    .col.l-5, .col .l-5 {
      max-width: 41.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 36.6666666667%; }
    .col.l-4, .col .l-4 {
      max-width: 33.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 29.3333333333%; }
    .col.l-3, .col .l-3 {
      max-width: 25%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 22%; }
    .col.l-2, .col .l-2 {
      max-width: 16.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 14.6666666667%; }
    .col.l-1, .col .l-1 {
      max-width: 8.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 7.3333333333%; } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .col {
    padding: 10px;
    max-width: 100%;
    width: 100%; }
    .col.m-12, .col .m-12 {
      max-width: 100%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 88%; }
    .col.m-11, .col .m-11 {
      max-width: 91.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 80.6666666667%; }
    .col.m-10, .col .m-10 {
      max-width: 83.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 73.3333333333%; }
    .col.m-9, .col .m-9 {
      max-width: 75%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 66%; }
    .col.m-8, .col .m-8 {
      max-width: 66.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 58.6666666667%; }
    .col.m-7, .col .m-7 {
      max-width: 58.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 51.3333333333%; }
    .col.m-6, .col .m-6 {
      max-width: 50%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 44%; }
    .col.m-5, .col .m-5 {
      max-width: 41.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 36.6666666667%; }
    .col.m-4, .col .m-4 {
      max-width: 33.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 29.3333333333%; }
    .col.m-3, .col .m-3 {
      max-width: 25%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 22%; }
    .col.m-2, .col .m-2 {
      max-width: 16.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 14.6666666667%; }
    .col.m-1, .col .m-1 {
      max-width: 8.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 7.3333333333%; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .col {
    padding: 10px;
    max-width: 100%;
    width: 100%; }
    .col.s-12, .col .s-12 {
      max-width: 100%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 88%; }
    .col.s-11, .col .s-11 {
      max-width: 91.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 80.6666666667%; }
    .col.s-10, .col .s-10 {
      max-width: 83.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 73.3333333333%; }
    .col.s-9, .col .s-9 {
      max-width: 75%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 66%; }
    .col.s-8, .col .s-8 {
      max-width: 66.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 58.6666666667%; }
    .col.s-7, .col .s-7 {
      max-width: 58.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 51.3333333333%; }
    .col.s-6, .col .s-6 {
      max-width: 50%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 44%; }
    .col.s-5, .col .s-5 {
      max-width: 41.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 36.6666666667%; }
    .col.s-4, .col .s-4 {
      max-width: 33.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 29.3333333333%; }
    .col.s-3, .col .s-3 {
      max-width: 25%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 22%; }
    .col.s-2, .col .s-2 {
      max-width: 16.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 14.6666666667%; }
    .col.s-1, .col .s-1 {
      max-width: 8.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 7.3333333333%; } }
@media only screen and (max-width: 479px) {
  .col {
    padding: 10px;
    max-width: 100%;
    width: 100%; }
    .col.xs-12, .col .xs-12 {
      max-width: 100%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 88%; }
    .col.xs-11, .col .xs-11 {
      max-width: 91.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 80.6666666667%; }
    .col.xs-10, .col .xs-10 {
      max-width: 83.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 73.3333333333%; }
    .col.xs-9, .col .xs-9 {
      max-width: 75%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 66%; }
    .col.xs-8, .col .xs-8 {
      max-width: 66.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 58.6666666667%; }
    .col.xs-7, .col .xs-7 {
      max-width: 58.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 51.3333333333%; }
    .col.xs-6, .col .xs-6 {
      max-width: 50%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 44%; }
    .col.xs-5, .col .xs-5 {
      max-width: 41.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 36.6666666667%; }
    .col.xs-4, .col .xs-4 {
      max-width: 33.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 29.3333333333%; }
    .col.xs-3, .col .xs-3 {
      max-width: 25%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 22%; }
    .col.xs-2, .col .xs-2 {
      max-width: 16.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 14.6666666667%; }
    .col.xs-1, .col .xs-1 {
      max-width: 8.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 7.3333333333%; } }
input.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.card {
  width: inherit;
  border: solid 1px #bdbdbd;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .card .card-header {
    padding: 20px; }
  .card .card-body {
    padding: 20px; }

body {
  padding: 30px; }

.can-toggle {
  position: relative; }
  .can-toggle *, .can-toggle *:before, .can-toggle *:after {
    box-sizing: border-box; }
  .can-toggle input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0; }
    .can-toggle input[type="checkbox"][disabled] ~ label {
      pointer-events: none; }
      .can-toggle input[type="checkbox"][disabled] ~ label .can-toggle__switch {
        opacity: 0.4; }
    .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:before {
      content: attr(data-unchecked);
      left: 0; }
    .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
      content: attr(data-checked); }
  .can-toggle label {
    user-select: none;
    position: relative;
    display: flex;
    align-items: center; }
    .can-toggle label .can-toggle__label-text {
      flex: 1;
      padding-left: 32px; }
    .can-toggle label .can-toggle__switch {
      position: relative; }
      .can-toggle label .can-toggle__switch:before {
        content: attr(data-checked);
        position: absolute;
        top: 0;
        text-transform: uppercase;
        text-align: center; }
      .can-toggle label .can-toggle__switch:after {
        content: attr(data-unchecked);
        position: absolute;
        z-index: 5;
        text-transform: uppercase;
        text-align: center;
        background: white;
        transform: translate3d(0, 0, 0); }
  .can-toggle input[type="checkbox"][disabled] ~ label {
    color: rgba(119, 119, 119, 0.5); }
  .can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch {
    background-color: #777; }
    .can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
      color: #5e5e5e; }
  .can-toggle input[type="checkbox"]:hover ~ label {
    color: #ED1B2E; }
  .can-toggle input[type="checkbox"]:checked ~ label:hover {
    color: #e71225; }
  .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch {
    background-color: #ef3344; }
    .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
      color: #dd1124; }
  .can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
    background-color: #ED1B2E; }
    .can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
      color: #c51020; }
  .can-toggle label .can-toggle__label-text {
    flex: 1; }
  .can-toggle label .can-toggle__switch {
    transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
    background: #848484; }
    .can-toggle label .can-toggle__switch:before {
      color: #fff; }
    .can-toggle label .can-toggle__switch:after {
      -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
      transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
      color: #777; }
  .can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4); }
  .can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
    transform: translate3d(65px, 0, 0); }
  .can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4); }
  .can-toggle label .can-toggle__switch {
    height: 36px;
    flex: 0 0 134px;
    border-radius: 4px; }
    .can-toggle label .can-toggle__switch:before {
      left: 67px;
      font-size: 12px;
      line-height: 36px;
      width: 67px;
      padding: 0 12px; }
    .can-toggle label .can-toggle__switch:after {
      top: 2px;
      left: 2px;
      border-radius: 2px;
      width: 65px;
      line-height: 32px;
      font-size: 12px; }
    .can-toggle label .can-toggle__switch:hover:after {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4); }
  .can-toggle.can-toggle--size-small input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.can-toggle--size-small input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); }
  .can-toggle.can-toggle--size-small input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
    transform: translate3d(44px, 0, 0); }
  .can-toggle.can-toggle--size-small input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.can-toggle--size-small input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); }
  .can-toggle.can-toggle--size-small label .can-toggle__switch {
    height: 28px;
    flex: 0 0 90px;
    border-radius: 2px; }
    .can-toggle.can-toggle--size-small label .can-toggle__switch:before {
      left: 45px;
      font-size: 10px;
      line-height: 28px;
      width: 45px;
      padding: 0 12px; }
    .can-toggle.can-toggle--size-small label .can-toggle__switch:after {
      top: 1px;
      left: 1px;
      border-radius: 1px;
      width: 44px;
      line-height: 26px;
      font-size: 10px; }
    .can-toggle.can-toggle--size-small label .can-toggle__switch:hover:after {
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); }
  .can-toggle.can-toggle--size-large input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.can-toggle--size-large input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4); }
  .can-toggle.can-toggle--size-large input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
    transform: translate3d(78px, 0, 0); }
  .can-toggle.can-toggle--size-large input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.can-toggle--size-large input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4); }
  .can-toggle.can-toggle--size-large label .can-toggle__switch {
    height: 50px;
    flex: 0 0 160px;
    border-radius: 4px; }
    .can-toggle.can-toggle--size-large label .can-toggle__switch:before {
      left: 80px;
      font-size: 14px;
      line-height: 50px;
      width: 80px;
      padding: 0 12px; }
    .can-toggle.can-toggle--size-large label .can-toggle__switch:after {
      top: 2px;
      left: 2px;
      border-radius: 2px;
      width: 78px;
      line-height: 46px;
      font-size: 14px; }
    .can-toggle.can-toggle--size-large label .can-toggle__switch:hover:after {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4); }
  .can-toggle.demo-rebrand-1 input[type="checkbox"][disabled] ~ label {
    color: rgba(181, 62, 116, 0.5); }
  .can-toggle.demo-rebrand-1 input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label .can-toggle__switch {
    background-color: #b53e74; }
    .can-toggle.demo-rebrand-1 input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
      color: #8f315c; }
  .can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label {
    color: #ED1B2E; }
  .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label:hover {
    color: #39916a; }
  .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label .can-toggle__switch {
    background-color: #44ae7f; }
    .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
      color: #368a65; }
  .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
    background-color: #3d9c72; }
    .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
      color: #2f7757; }
  .can-toggle.demo-rebrand-1 label .can-toggle__label-text {
    flex: 1; }
  .can-toggle.demo-rebrand-1 label .can-toggle__switch {
    transition: background-color 0.3s ease-in-out;
    background: #c14b81; }
    .can-toggle.demo-rebrand-1 label .can-toggle__switch:before {
      color: rgba(255, 255, 255, 0.6); }
    .can-toggle.demo-rebrand-1 label .can-toggle__switch:after {
      -webkit-transition: -webkit-transform 0.3s ease-in-out;
      transition: transform 0.3s ease-in-out;
      color: #b53e74; }
  .can-toggle.demo-rebrand-2 input[type="checkbox"][disabled] ~ label {
    color: rgba(68, 68, 68, 0.5); }
  .can-toggle.demo-rebrand-2 input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label .can-toggle__switch {
    background-color: #444; }
    .can-toggle.demo-rebrand-2 input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
      color: #2b2b2b; }
  .can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label {
    color: #ED1B2E; }
  .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label:hover {
    color: #62b125; }
  .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch {
    background-color: #75d32d; }
    .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
      color: #5da924; }
  .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
    background-color: #69be28; }
    .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
      color: #52941f; }
  .can-toggle.demo-rebrand-2 label .can-toggle__label-text {
    flex: 1; }
  .can-toggle.demo-rebrand-2 label .can-toggle__switch {
    transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1);
    background: #515151; }
    .can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
      color: rgba(255, 255, 255, 0.7); }
    .can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
      -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
      transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
      color: #444; }
  .can-toggle.demo-rebrand-2 input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4); }
  .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
    transform: translate3d(58px, 0, 0); }
  .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4); }
  .can-toggle.demo-rebrand-2 label .can-toggle__switch {
    height: 60px;
    flex: 0 0 120px;
    border-radius: 60px; }
    .can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
      left: 60px;
      font-size: 13px;
      line-height: 60px;
      width: 60px;
      padding: 0 12px; }
    .can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
      top: 2px;
      left: 2px;
      border-radius: 30px;
      width: 58px;
      line-height: 56px;
      font-size: 13px; }
    .can-toggle.demo-rebrand-2 label .can-toggle__switch:hover:after {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4); }

.switch-field {
  overflow: hidden; }

.switch-title {
  margin-bottom: 6px; }

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden; }

.switch-field label {
  float: left; }

.switch-field label {
  display: inline-block;
  background-color: #fff;
  color: #ED1B2E;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 10px 20px;
  border: 3px solid #ED1B2E;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */ }

.switch-field label:hover {
  cursor: pointer; }

.switch-field input:checked + label {
  background-color: #ED1B2E;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff; }

.switch-field label:first-of-type {
  border-bottom: none; }

.switch-field label:last-of-type {
  border-top: none; }

/* The container */
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 4px;
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */ }

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: solid 1px #bdbdbd;
  transition: .3s ease-in-out; }

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: #fff;
  border-color: #ED1B2E; }

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #ED1B2E;
  border: solid 1px #ED1B2E; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 7px;
  top: 4px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.test {
  background-color: #00acc1; }

/*# sourceMappingURL=Override.css.map */
