@font-face {
  font-family: 'PruSans';
  src: url("/src/lib/Fonts/GOTHIC.TTF") format("TTF"), url("/src/lib/Fonts/GOTHICB.TTF") format("TTF"), url("/src/lib/Fonts/GOTHICBI.TTF") format("TTF"), url("/src/lib/Fonts/GOTHICI.TTF") format("TTF"); }
body, html, h1, h3, h4, h5, h6, a, p, b {
  color: #2b2b2b;
  font-family: 'Century Gothic',  sans-serif; }

body, html, a, p {
  font-size: 13px; }

span {
  font-size: 20px; }

a {
  text-decoration: none; }

body {
  background-color: #f0f0f0; }

button {
  border: none; }

ul {
  padding: 0; }

label {
  cursor: pointer; }

::placeholder, input, label {
  font-size: 1rem; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #bdbdbd; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #bdbdbd; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #bdbdbd; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #bdbdbd; }

::selection {
  background: rgba(237, 27, 46, 0.6);
  color: #fff; }

::-moz-selection {
  background: rgba(237, 27, 46, 0.6);
  color: #fff; }

input:disabled a, input:disabled p, input:disabled {
  cursor: not-allowed !important;
  background-color: #eee !important; }

button:disabled {
  border: solid 3px #eee !important;
  cursor: not-allowed !important;
  background-color: #eee !important;
  color: #bdbdbd !important; }
  button:disabled:disabled:hover, button:disabled.btn:disabled:hover, button.btn-circle:disabled:disabled:hover, .card-img-container button.card-btn:disabled:disabled:hover, button:disabled .btn:disabled:hover, button:disabled .btn-circle:disabled:hover, button:disabled .card-img-container .card-btn:disabled:hover, .card-img-container button:disabled .card-btn:disabled:hover {
    border: solid 3px #eee;
    cursor: not-allowed;
    background-color: #eee !important;
    color: #bdbdbd !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }

.spinner {
  height: 30px;
  width: 30px;
  background: rgba(0, 0, 0, 0);
  position: relative;
  margin: 20px;
  border-radius: 50%; }
  .spinner::after, .spinner::before {
    content: '';
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%; }

.spinn::after {
  background-color: pink;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid transparent;
  border-top-color: #ED1B2E;
  border-bottom-color: #ED1B2E;
  animation: spin .7s linear infinite; }

.atom {
  animation: atom 1s linear infinite; }
  .atom::before, .atom::after {
    height: 10px;
    width: 10px;
    background: #ED1B2E;
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -5px; }
  .atom::after {
    top: auto;
    bottom: -5px; }

.pusle::after {
  animation: pulse 1.5s linear infinite;
  top: 0;
  left: 0;
  margin-left: -3px;
  margin-top: -3px;
  position: absolute;
  border: 3px solid #ED1B2E; }
.pusle::before {
  animation: pulse-delay 1.4s linear infinite;
  top: 0;
  left: 0;
  margin-left: -3px;
  margin-top: -3px;
  position: absolute;
  border: 3px solid #ED1B2E; }
.pusle h4 {
  transform: translate(-90px, -13px); }

@keyframes pulse-delay {
  0% {
    transform: scale(0);
    opacity: 1; }
  50% {
    transform: scale(0.7);
    opacity: .5; }
  100% {
    transform: scale(1.5);
    opacity: 0; } }
@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0; } }
@keyframes atom {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(45deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1); }
  50% {
    transform: rotate(45deg) scale(1.2); }
  100% {
    transform: rotate(360deg) scale(1); } }
body, html {
  max-width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 3px; }

/* Track */
::-webkit-scrollbar-track {
  background: #bdbdbd; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ED1B2E;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d7192a; }

.bg-white {
  background-color: #fff !important; }

.bg-primary {
  background-color: #1e88e5 !important; }

.bg-info {
  background-color: #00acc1 !important; }

.bg-danger {
  background-color: #e53935 !important; }

.bg-success {
  background-color: #43a047 !important; }

.bg-warning {
  background-color: #fdd835 !important; }

.bg-prulife {
  background-color: #ED1B2E !important; }

.bg-purple {
  background-color: #722382 !important; }

.bg-gray {
  background-color: #bdbdbd !important; }

.bg-grass-green {
  background-color: #007953 !important; }

.bg-bright-blue {
  background-color: #0064B9 !important; }

.bg-sun-yellow {
  background-color: #FFB81D !important; }

.bg-prugray {
  background-color: #68737A !important; }

.bg-lightgray, .page-loading-header, .page-loading-body {
  background-color: #eee !important; }

.bg-none {
  background-color: transparent; }

.font-primary {
  color: #1e88e5 !important; }

.font-info {
  color: #00acc1 !important; }

.font-danger {
  color: #e53935 !important; }

.font-success {
  color: #43a047 !important; }

.font-warning {
  color: #fdd835 !important; }

.font-white {
  color: #fff !important; }

.font-black, .item {
  color: #2b2b2b !important; }

.font-gray {
  color: #bdbdbd !important; }

.font-prugray {
  color: #68737A !important; }

.font-prulife, .pusle h4 {
  color: #ED1B2E !important; }

.font-grass-green {
  color: #007953 !important; }

.font-bright-blue {
  color: #0064B9 !important; }

.font-purple {
  color: #722382 !important; }

.font-sun-yellow {
  color: #FFB81D !important; }

.h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }

.h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }

.h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }

.h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }

.h5 {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }

.h6, .item {
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-bold {
  font-weight: bold; }

.btn, .btn-circle, .card-img-container .card-btn {
  height: 35px;
  border-radius: 6px;
  padding: 0px 20px;
  color: #fff;
  background-color: #E0E1E2;
  display: flex;
  align-items: center;
  margin-left: 5px;
  font-size: 14px;
  font-weight: bold;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all 0.3s ease-out; }
  .btn span, .btn-circle span, .card-img-container .card-btn span {
    font-size: 13px; }
  .btn:active, .btn-circle:active, .card-img-container .card-btn:active {
    transform: scale(0.9); }
  .btn.prulife, .prulife.btn-circle, .card-img-container .prulife.card-btn {
    background-color: #ED1B2E;
    color: #fff; }
    .btn.prulife:hover, .prulife.btn-circle:hover, .card-img-container .prulife.card-btn:hover {
      box-shadow: 0px 0px 6px #ED1B2E; }
  .btn.purple, .purple.btn-circle, .card-img-container .purple.card-btn {
    background-color: #722382;
    color: #fff; }
    .btn.purple:hover, .purple.btn-circle:hover, .card-img-container .purple.card-btn:hover {
      box-shadow: 0px 0px 6px #722382; }
  .btn.grass-green, .grass-green.btn-circle, .card-img-container .grass-green.card-btn {
    background-color: #007953;
    color: #fff; }
    .btn.grass-green:hover, .grass-green.btn-circle:hover, .card-img-container .grass-green.card-btn:hover {
      box-shadow: 0px 0px 6px #007953; }
  .btn.bright-blue, .bright-blue.btn-circle, .card-img-container .bright-blue.card-btn {
    background-color: #0064B9;
    color: #fff; }
    .btn.bright-blue:hover, .bright-blue.btn-circle:hover, .card-img-container .bright-blue.card-btn:hover {
      box-shadow: 0px 0px 6px #0064B9; }
  .btn.alt, .alt.btn-circle, .card-img-container .alt.card-btn {
    background-color: #fff;
    color: #2b2b2b; }
    .btn.alt:hover, .alt.btn-circle:hover, .card-img-container .alt.card-btn:hover {
      box-shadow: 0px 0px 6px #eee; }

.btn-sm {
  height: 30px;
  font-size: 13px;
  padding: 0px 15px;
  border: 0px;
  border-radius: 6px;
  color: #fff;
  background-color: #E0E1E2;
  display: flex;
  align-items: center;
  margin-left: 5px;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all 0.3s ease-out; }
  .btn-sm span {
    font-size: 13px; }
  .btn-sm:active {
    transform: scale(0.9); }
  .btn-sm.prulife {
    background-color: #ED1B2E;
    color: #fff; }
    .btn-sm.prulife:hover {
      box-shadow: 0px 0px 6px #ED1B2E; }
  .btn-sm.purple {
    background-color: #722382;
    color: #fff; }
    .btn-sm.purple:hover {
      box-shadow: 0px 0px 6px #722382; }
  .btn-sm.grass-green {
    background-color: #007953;
    color: #fff; }
    .btn-sm.grass-green:hover {
      box-shadow: 0px 0px 6px #007953; }
  .btn-sm.bright-blue {
    background-color: #0064B9;
    color: #fff; }
    .btn-sm.bright-blue:hover {
      box-shadow: 0px 0px 6px #0064B9; }
  .btn-sm.alt {
    background-color: transparent;
    color: #2b2b2b;
    border: 1px solid rgba(189, 189, 189, 0); }
    .btn-sm.alt:hover {
      border: 1px solid #bdbdbd;
      box-shadow: 0px 0px 6px #eee; }

.btn-circle {
  height: 40px;
  width: 40px;
  padding: 0;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all 0.3s ease-out;
  color: #2b2b2b;
  margin-left: 15px;
  font-weight: bold;
  border-radius: 50%;
  border: none; }
  .btn-circle:active {
    transform: scale(0.9); }
  .btn-circle:hover {
    box-shadow: 0px 0px 25px #E0E1E2; }
  .btn-circle.active {
    background-color: #ED1B2E;
    color: #fff;
    box-shadow: 0px 0px 6px #ED1B2E; }
    .btn-circle.active:hover {
      box-shadow: 0px 0px 25px #ED1B2E; }
  .btn-circle.alt {
    background-color: #fff;
    color: #2b2b2b;
    box-shadow: 0px 0px 6px #eee; }
    .btn-circle.alt:hover {
      box-shadow: 0px 0px 25px #eee; }

.item {
  font-weight: 300;
  padding: 50px; }

select {
  /* Chrome/Opera/Safari */
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all 0.3s ease-out; }
  select.select-no-effect-s {
    cursor: pointer;
    outline: none;
    margin: 5px;
    padding: 5px;
    border: solid 1px #bdbdbd;
    color: #2b2b2b;
    box-shadow: none; }

select {
  /* Chrome/Opera/Safari */
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all 0.3s ease-out; }
  select.select-no-effect-l {
    cursor: pointer;
    outline: none;
    margin: 5px;
    padding: 15px;
    border: solid 1px #bdbdbd;
    color: #2b2b2b;
    box-shadow: none; }

.container {
  margin: 10px; }

.margin-container {
  margin: 10px; }

.text-with-icon span {
  font-size: 12px; }

ul, li, ol {
  list-style-type: none; }

.left {
  float: left; }

.right {
  float: right; }

.hide {
  display: none; }

.margin-top-90 {
  margin-top: 90px; }

.margin-top-70 {
  margin-top: 70px !important; }

.padding-10 {
  padding: 10px; }

.invisible {
  visibility: hidden; }

.hidden {
  display: none; }

.no-border {
  border: none !important; }

.border-bottom {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: solid 1px #ED1B2E !important;
  margin: 5px; }
  .border-bottom.gray {
    border-bottom: solid 1px #bdbdbd !important; }

.inline {
  display: inline; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline-grid {
  display: inline-grid; }

.no-margin, .sidebar .sidebar-body.logout ul, .card-img-container .card-btn {
  margin: 0 !important; }

.no-padding, .sidebar .sidebar-body.logout li {
  padding: 0 !important; }

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex; }

.flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.fit-height {
  min-height: -webkit-fill-available; }

.fit-width {
  min-width: -webkit-fill-available; }

.fullscreen-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.disabled {
  background-color: #eee !important;
  cursor: not-allowed !important;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */ }

hr {
  border: none;
  border-bottom: solid 1px #bdbdbd; }

.no-border {
  border: none !important; }

.header {
  padding: 0px 20px; }

.footer {
  margin-top: 20px;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .footer img {
    height: 20px;
    margin: 10px; }

.margin-auto, .no-search-result {
  margin: auto; }

.flex, .btn-circle, nav.navbar .navmenu ul, nav.navbar .navmenu ul li, .box .tab-title-container .circle, .dropdown .dropdown-menu ul li, .input-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex; }
  .flex.f-wrap, .f-wrap.btn-circle, nav.navbar .navmenu ul.f-wrap, nav.navbar .navmenu ul li.f-wrap, .box .tab-title-container .f-wrap.circle, .dropdown .dropdown-menu ul li.f-wrap, .f-wrap.input-container, .flex .f-wrap, .btn-circle .f-wrap, nav.navbar .navmenu ul .f-wrap, .box .tab-title-container .circle .f-wrap, .dropdown .dropdown-menu ul li .f-wrap, .input-container .f-wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
  .flex.f-center, .btn-circle, nav.navbar .navmenu ul.f-center, nav.navbar .navmenu ul.btn-circle, nav.navbar .navmenu ul li, .box .tab-title-container .circle, .dropdown .dropdown-menu ul li.f-center, .dropdown .dropdown-menu ul li.btn-circle, .f-center.input-container, .flex .f-center, .btn-circle .f-center, nav.navbar .navmenu ul .f-center, .box .tab-title-container .circle .f-center, .dropdown .dropdown-menu ul li .f-center, .input-container .f-center, .flex .btn-circle, .btn-circle .btn-circle, nav.navbar .navmenu ul .btn-circle, .box .tab-title-container .circle .btn-circle, .dropdown .dropdown-menu ul li .btn-circle, .input-container .btn-circle, nav.navbar .navmenu ul li, .box .tab-title-container .circle nav.navbar .navmenu ul li, nav.navbar .navmenu ul .box .tab-title-container .circle li, .flex .box .tab-title-container .circle, .box .tab-title-container .flex .circle, .btn-circle .box .tab-title-container .circle, .box .tab-title-container .btn-circle .circle, nav.navbar .navmenu ul .box .tab-title-container .circle, .box .tab-title-container nav.navbar .navmenu ul .circle, .box .tab-title-container .circle .circle, .dropdown .dropdown-menu ul li .box .tab-title-container .circle, .box .tab-title-container .dropdown .dropdown-menu ul li .circle, .input-container .box .tab-title-container .circle, .box .tab-title-container .input-container .circle {
    justify-content: center;
    align-items: center; }
  .flex.f-start, .f-start.btn-circle, nav.navbar .navmenu ul.f-start, nav.navbar .navmenu ul li.f-start, .box .tab-title-container .f-start.circle, .dropdown .dropdown-menu ul li.f-start, .f-start.input-container, .flex .f-start, .btn-circle .f-start, nav.navbar .navmenu ul .f-start, .box .tab-title-container .circle .f-start, .dropdown .dropdown-menu ul li .f-start, .input-container .f-start {
    justify-content: flex-start; }
  .flex.f-end, .f-end.btn-circle, nav.navbar .navmenu ul.f-end, nav.navbar .navmenu ul li.f-end, .box .tab-title-container .f-end.circle, .dropdown .dropdown-menu ul li.f-end, .f-end.input-container, .flex .f-end, .btn-circle .f-end, nav.navbar .navmenu ul .f-end, .box .tab-title-container .circle .f-end, .dropdown .dropdown-menu ul li .f-end, .input-container .f-end {
    justify-content: flex-end; }
  .flex.f-row, .f-row.btn-circle, nav.navbar .navmenu ul, nav.navbar .navmenu ul li.f-row, .box .tab-title-container .f-row.circle, .box .tab-title-container nav.navbar .navmenu ul.circle, nav.navbar .navmenu .box .tab-title-container ul.circle, .dropdown .dropdown-menu ul li.f-row, .f-row.input-container, .flex .f-row, .btn-circle .f-row, nav.navbar .navmenu ul .f-row, .box .tab-title-container .circle .f-row, .dropdown .dropdown-menu ul li .f-row, .input-container .f-row, .flex nav.navbar .navmenu ul, nav.navbar .navmenu .flex ul, .btn-circle nav.navbar .navmenu ul, nav.navbar .navmenu .btn-circle ul, nav.navbar .navmenu ul ul, .box .tab-title-container .circle nav.navbar .navmenu ul, nav.navbar .navmenu .box .tab-title-container .circle ul, .dropdown .dropdown-menu ul li nav.navbar .navmenu ul, .input-container nav.navbar .navmenu ul, nav.navbar .navmenu .input-container ul {
    flex-direction: row; }
  .flex.f-column, .f-column.btn-circle, nav.navbar .navmenu ul.f-column, nav.navbar .navmenu ul.input-container, nav.navbar .navmenu ul li, .box .tab-title-container .f-column.circle, .box .tab-title-container nav.navbar .navmenu ul li.circle, nav.navbar .navmenu ul .box .tab-title-container li.circle, .box .tab-title-container .circle.input-container, .dropdown .dropdown-menu ul li.f-column, .dropdown .dropdown-menu ul li.input-container, .input-container, .flex .f-column, .btn-circle .f-column, nav.navbar .navmenu ul .f-column, .box .tab-title-container .circle .f-column, .dropdown .dropdown-menu ul li .f-column, .input-container .f-column, nav.navbar .navmenu ul li, .box .tab-title-container .circle nav.navbar .navmenu ul li, nav.navbar .navmenu ul .box .tab-title-container .circle li, .flex .input-container, .btn-circle .input-container, nav.navbar .navmenu ul .input-container, .box .tab-title-container .circle .input-container, .dropdown .dropdown-menu ul li .input-container, .input-container .input-container {
    flex-direction: column; }
  .flex.f-justify-space-between, .f-justify-space-between.btn-circle, nav.navbar .navmenu ul.f-justify-space-between, nav.navbar .navmenu ul li.f-justify-space-between, .box .tab-title-container .f-justify-space-between.circle, .dropdown .dropdown-menu ul li.f-justify-space-between, .f-justify-space-between.input-container, .flex .f-justify-space-between, .btn-circle .f-justify-space-between, nav.navbar .navmenu ul .f-justify-space-between, .box .tab-title-container .circle .f-justify-space-between, .dropdown .dropdown-menu ul li .f-justify-space-between, .input-container .f-justify-space-between {
    justify-content: space-between; }
  .flex.f-justify-around, .f-justify-around.btn-circle, nav.navbar .navmenu ul.f-justify-around, nav.navbar .navmenu ul li.f-justify-around, .box .tab-title-container .f-justify-around.circle, .dropdown .dropdown-menu ul li.f-justify-around, .f-justify-around.input-container, .flex .f-justify-around, .btn-circle .f-justify-around, nav.navbar .navmenu ul .f-justify-around, .box .tab-title-container .circle .f-justify-around, .dropdown .dropdown-menu ul li .f-justify-around, .input-container .f-justify-around {
    justify-content: space-around; }
  .flex.f-justify-evenly, .f-justify-evenly.btn-circle, nav.navbar .navmenu ul.f-justify-evenly, nav.navbar .navmenu ul li.f-justify-evenly, .box .tab-title-container .f-justify-evenly.circle, .dropdown .dropdown-menu ul li.f-justify-evenly, .f-justify-evenly.input-container, .flex .f-justify-evenly, .btn-circle .f-justify-evenly, nav.navbar .navmenu ul .f-justify-evenly, .box .tab-title-container .circle .f-justify-evenly, .dropdown .dropdown-menu ul li .f-justify-evenly, .input-container .f-justify-evenly {
    justify-content: space-evenly; }

.box {
  background-color: white;
  border: solid #bdbdbd 1px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }

.login-container {
  overflow: hidden;
  position: absolute;
  background-color: #fff;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; }
  .login-container .testing {
    display: flex;
    flex-direction: row; }

.login-circle {
  height: 100%;
  overflow: hidden;
  position: absolute;
  background-color: #F0F0F0;
  top: 50%;
  left: 0px;
  width: 80vw;
  height: 95vw;
  border-radius: 15%;
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%) rotate(70deg);
  -ms-transform: translate(-50%, -50%) rotate(70deg);
  transform: translate(-50%, -50%) rotate(70deg); }

.login {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 350px;
  overflow: hidden; }
  .login .input-container {
    margin-top: 20px;
    width: 300px; }
    .login .input-container .text-label {
      width: 100%;
      display: flex;
      flex-direction: column; }
    .login .input-container .icon {
      border-bottom: 1px solid black; }
    .login .input-container input {
      font-size: 13px;
      background-color: transparent;
      border-radius: 0%;
      border: none;
      border-bottom: 1px solid black; }
  .login .login-button {
    margin-top: 15px;
    width: 100%; }
    .login .login-button button {
      background-color: transparent;
      font-size: 13px;
      font-weight: bold;
      color: white; }
    .login .login-button span {
      margin-left: 15px; }

.fullscreen-container {
  height: 100%;
  width: 100%; }

@media only screen and (min-width: 1280px) {
  .col {
    padding: 10px;
    max-width: 100%;
    width: 100%; }
    .col.xl-12, .col .xl-12 {
      max-width: 100%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 88%; }
    .col.xl-11, .col .xl-11 {
      max-width: 91.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 80.6666666667%; }
    .col.xl-10, .col .xl-10 {
      max-width: 83.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 73.3333333333%; }
    .col.xl-9, .col .xl-9 {
      max-width: 75%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 66%; }
    .col.xl-8, .col .xl-8 {
      max-width: 66.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 58.6666666667%; }
    .col.xl-7, .col .xl-7 {
      max-width: 58.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 51.3333333333%; }
    .col.xl-6, .col .xl-6 {
      max-width: 50%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 44%; }
    .col.xl-5, .col .xl-5 {
      max-width: 41.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 36.6666666667%; }
    .col.xl-4, .col .xl-4 {
      max-width: 33.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 29.3333333333%; }
    .col.xl-3, .col .xl-3 {
      max-width: 25%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 22%; }
    .col.xl-2, .col .xl-2 {
      max-width: 16.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 14.6666666667%; }
    .col.xl-1, .col .xl-1 {
      max-width: 8.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 7.3333333333%; }

  .xl-hide {
    display: none; }

  .xl-f-wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }

  .xl-f-center {
    justify-content: center;
    align-items: center; }

  .xl-f-start {
    justify-content: flex-start; }

  .xl-f-end {
    justify-content: flex-end; }

  .xl-f-row {
    flex-direction: row; }

  .xl-f-column {
    flex-direction: column; }

  .xl-f-justify-space-between {
    justify-content: space-between; }

  .xl-f-justify-around {
    justify-content: space-around; }

  .login-form {
    width: 20%; } }
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .col {
    padding: 10px;
    max-width: 100%;
    width: 100%; }
    .col.l-12, .col .l-12 {
      max-width: 100%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 88%; }
    .col.l-11, .col .l-11 {
      max-width: 91.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 80.6666666667%; }
    .col.l-10, .col .l-10 {
      max-width: 83.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 73.3333333333%; }
    .col.l-9, .col .l-9 {
      max-width: 75%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 66%; }
    .col.l-8, .col .l-8 {
      max-width: 66.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 58.6666666667%; }
    .col.l-7, .col .l-7 {
      max-width: 58.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 51.3333333333%; }
    .col.l-6, .col .l-6 {
      max-width: 50%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 44%; }
    .col.l-5, .col .l-5 {
      max-width: 41.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 36.6666666667%; }
    .col.l-4, .col .l-4 {
      max-width: 33.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 29.3333333333%; }
    .col.l-3, .col .l-3 {
      max-width: 25%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 22%; }
    .col.l-2, .col .l-2 {
      max-width: 16.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 14.6666666667%; }
    .col.l-1, .col .l-1 {
      max-width: 8.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 7.3333333333%; }

  .l-hide {
    display: none; }

  .l-f-wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }

  .l-f-center {
    justify-content: center;
    align-items: center; }

  .l-f-start {
    justify-content: flex-start; }

  .l-f-end {
    justify-content: flex-end; }

  .l-f-row {
    flex-direction: row; }

  .l-f-column {
    flex-direction: column; }

  .l-f-justify-space-between {
    justify-content: space-between; }

  .l-f-justify-around {
    justify-content: space-around; }

  .login-form {
    width: 30%; } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .col {
    padding: 10px;
    max-width: 100%;
    width: 100%; }
    .col.m-12, .col .m-12 {
      max-width: 100%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 88%; }
    .col.m-11, .col .m-11 {
      max-width: 91.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 80.6666666667%; }
    .col.m-10, .col .m-10 {
      max-width: 83.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 73.3333333333%; }
    .col.m-9, .col .m-9 {
      max-width: 75%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 66%; }
    .col.m-8, .col .m-8 {
      max-width: 66.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 58.6666666667%; }
    .col.m-7, .col .m-7 {
      max-width: 58.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 51.3333333333%; }
    .col.m-6, .col .m-6 {
      max-width: 50%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 44%; }
    .col.m-5, .col .m-5 {
      max-width: 41.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 36.6666666667%; }
    .col.m-4, .col .m-4 {
      max-width: 33.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 29.3333333333%; }
    .col.m-3, .col .m-3 {
      max-width: 25%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 22%; }
    .col.m-2, .col .m-2 {
      max-width: 16.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 14.6666666667%; }
    .col.m-1, .col .m-1 {
      max-width: 8.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 7.3333333333%; }

  .m-hide {
    display: none; }

  .m-f-wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }

  .m-f-center {
    justify-content: center;
    align-items: center; }

  .m-f-start {
    justify-content: flex-start; }

  .m-f-end {
    justify-content: flex-end; }

  .m-f-row {
    flex-direction: row; }

  .m-f-column {
    flex-direction: column; }

  .m-f-justify-space-between {
    justify-content: space-between; }

  .m-f-justify-around {
    justify-content: space-around; }

  .login-form {
    width: 100%;
    height: 100%;
    border-radius: 0; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .col {
    padding: 10px;
    max-width: 100%;
    width: 100%; }
    .col.s-12, .col .s-12 {
      max-width: 100%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 88%; }
    .col.s-11, .col .s-11 {
      max-width: 91.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 80.6666666667%; }
    .col.s-10, .col .s-10 {
      max-width: 83.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 73.3333333333%; }
    .col.s-9, .col .s-9 {
      max-width: 75%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 66%; }
    .col.s-8, .col .s-8 {
      max-width: 66.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 58.6666666667%; }
    .col.s-7, .col .s-7 {
      max-width: 58.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 51.3333333333%; }
    .col.s-6, .col .s-6 {
      max-width: 50%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 44%; }
    .col.s-5, .col .s-5 {
      max-width: 41.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 36.6666666667%; }
    .col.s-4, .col .s-4 {
      max-width: 33.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 29.3333333333%; }
    .col.s-3, .col .s-3 {
      max-width: 25%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 22%; }
    .col.s-2, .col .s-2 {
      max-width: 16.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 14.6666666667%; }
    .col.s-1, .col .s-1 {
      max-width: 8.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 7.3333333333%; }

  .s-hide {
    display: none; }

  .s-f-wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }

  .s-f-center {
    justify-content: center;
    align-items: center; }

  .s-f-start {
    justify-content: flex-start; }

  .s-f-end {
    justify-content: flex-end; }

  .s-f-row {
    flex-direction: row; }

  .s-f-column {
    flex-direction: column; }

  .s-f-justify-space-between {
    justify-content: space-between; }

  .s-f-justify-around {
    justify-content: space-around; }

  .login-form {
    width: 100%;
    height: 100%;
    border-radius: 0; } }
@media only screen and (max-width: 479px) and (min-width: 100px) {
  .col {
    padding: 10px;
    max-width: 100%;
    width: 100%; }
    .col.xs-12, .col .xs-12 {
      max-width: 100%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 88%; }
    .col.xs-11, .col .xs-11 {
      max-width: 91.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 80.6666666667%; }
    .col.xs-10, .col .xs-10 {
      max-width: 83.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 73.3333333333%; }
    .col.xs-9, .col .xs-9 {
      max-width: 75%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 66%; }
    .col.xs-8, .col .xs-8 {
      max-width: 66.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 58.6666666667%; }
    .col.xs-7, .col .xs-7 {
      max-width: 58.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 51.3333333333%; }
    .col.xs-6, .col .xs-6 {
      max-width: 50%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 44%; }
    .col.xs-5, .col .xs-5 {
      max-width: 41.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 36.6666666667%; }
    .col.xs-4, .col .xs-4 {
      max-width: 33.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 29.3333333333%; }
    .col.xs-3, .col .xs-3 {
      max-width: 25%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 22%; }
    .col.xs-2, .col .xs-2 {
      max-width: 16.6666666667%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 14.6666666667%; }
    .col.xs-1, .col .xs-1 {
      max-width: 8.3333333333%;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 7.3333333333%; }

  .xs-hide {
    display: none; }

  .xs-f-wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }

  .xs-f-center {
    justify-content: center;
    align-items: center; }

  .xs- {
    justify-content: flex-start; }

  .xs-f-end {
    justify-content: flex-end; }

  .xs-f-row {
    flex-direction: row; }

  .xs-f-column {
    flex-direction: column; }

  .xs-f-justify-space-between {
    justify-content: space-between; }

  .xs-f-justify-around {
    justify-content: space-around; }

  .login-form {
    width: 100%;
    height: 100%;
    border-radius: 0; } }
.header-container {
  position: absolute;
  top: 0;
  width: 100%; }
  .header-container .header-action {
    margin: 14px 0; }
    .header-container .header-action span {
      margin: 0 15px; }

nav.navbar .navmenu {
  background-color: #232323; }
  nav.navbar .navmenu a {
    color: #fff; }
  nav.navbar .navmenu ul {
    margin: 0;
    padding: 0 10%; }
    nav.navbar .navmenu ul li {
      width: 150px;
      padding: 15px 0;
      border-left: solid 1px rgba(255, 255, 255, 0.2); }
      nav.navbar .navmenu ul li span {
        margin: 10px 0; }
      nav.navbar .navmenu ul li:hover {
        background-color: rgba(0, 0, 0, 0.5); }
      nav.navbar .navmenu ul li:last-child {
        border-right: solid 1px rgba(255, 255, 255, 0.2); }
      nav.navbar .navmenu ul li .true {
        height: 15px;
        width: 15px;
        background-color: #f0f0f0;
        border-radius: 50%;
        color: #f0f0f0;
        display: flex;
        transform: translate(0px, 285%);
        align-items: flex-end;
        position: absolute; }

.box .tab-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: solid 1px #bdbdbd solid; }
  .box .tab-title-container .circle {
    border-radius: 50%;
    border: solid 1.5px #68737A;
    height: 30px;
    width: 30px;
    margin: 0 5px; }
  .box .tab-title-container .white {
    position: absolute;
    top: 0px;
    left: 100%;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 20px solid white;
    z-index: 2; }
  .box .tab-title-container .gray {
    position: absolute;
    top: 0px;
    left: calc(100% + 1px);
    width: 10px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 20px solid #CECECE; }
  .box .tab-title-container .tab-title {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%; }
    .box .tab-title-container .tab-title.active {
      background-color: #0064B9; }
      .box .tab-title-container .tab-title.active .white {
        border-left: 20px solid #0064B9; }
      .box .tab-title-container .tab-title.active .gray {
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
        border-left: 20px solid white;
        z-index: 1; }
      .box .tab-title-container .tab-title.active .circle {
        border: solid 1.5px #fff; }
      .box .tab-title-container .tab-title.active h4 {
        color: #fff; }
.box .box-body .box-header {
  line-height: 2;
  width: auto;
  border-bottom: 1px solid #bdbddb;
  padding: 15px; }

.logo {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex; }
  .logo .wrapper {
    background-color: #ED1B2E;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 100%; }
    .logo .wrapper .icon {
      color: white;
      font-size: 24px;
      line-height: 30px;
      -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
      text-shadow: 0px 0px 6px #ED1B2E; }
  .logo .title {
    -webkit-flex: 1;
    flex: 1;
    height: 30px;
    color: #232323;
    font: bold 30px 'Century Gothic';
    line-height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 30px;
    padding: 0px 10px; }
    .logo .title span {
      font-size: 30px;
      color: #ED1B2E; }
  .logo .title.white {
    color: white; }

.sidebar {
  position: fixed;
  background-color: #232323;
  height: 100%; }
  .sidebar .sidebar-title {
    background-color: black;
    padding: 15px; }
  .sidebar .sidebar-header {
    line-height: 40px;
    color: #A8A8A8;
    font-size: 14px;
    padding: 0px 10px;
    margin-top: 30px; }
  .sidebar .sidebar-body.logout {
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all 0.3s ease-out; }
    .sidebar .sidebar-body.logout li {
      border: none; }
      .sidebar .sidebar-body.logout li span {
        margin-left: 20px; }
      .sidebar .sidebar-body.logout li:hover {
        background-color: #ED1B2E;
        color: #fff; }
        .sidebar .sidebar-body.logout li:hover span {
          color: #fff !important; }
  .sidebar .sidebar-body ul li {
    line-height: 40px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 0px 15px;
    width: 100%;
    border-left: 4px solid rgba(0, 0, 0, 0); }
    .sidebar .sidebar-body ul li span {
      width: 20px;
      color: white;
      font-size: 14px;
      text-align: center;
      margin-right: 6px; }
    .sidebar .sidebar-body ul li:hover {
      background-color: rgba(255, 255, 255, 0.1); }
  .sidebar .sidebar-body ul a.active li {
    border-left: 3px solid #ED1B2E;
    background-color: white;
    color: #68737A; }

.compact-list {
  margin: 0; }
  .compact-list .compact-item {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all 0.3s ease-out;
    padding: 1px 20px 10px; }
    .compact-list .compact-item a {
      text-decoration: none; }
    .compact-list .compact-item:hover {
      cursor: pointer;
      background-color: rgba(104, 115, 122, 0.1); }
    .compact-list .compact-item ul li:last-child {
      color: #ED1B2E; }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes loading {
  0% {
    background-color: #eee; }
  25% {
    background-color: rgba(189, 189, 189, 0.5); }
  50% {
    background-color: #eee; }
  75% {
    background-color: rgba(189, 189, 189, 0.5); }
  100% {
    background-color: #eee; } }
/* Mozilla */
@-moz-keyframes loading {
  0% {
    background-color: #eee; }
  25% {
    background-color: rgba(189, 189, 189, 0.5); }
  50% {
    background-color: #eee; }
  75% {
    background-color: rgba(189, 189, 189, 0.5); }
  100% {
    background-color: #eee; } }
/* Standard syntax */
@keyframes loading {
  0% {
    background-color: #eee; }
  25% {
    background-color: rgba(189, 189, 189, 0.5); }
  50% {
    background-color: #eee; }
  75% {
    background-color: rgba(189, 189, 189, 0.5); }
  100% {
    background-color: #eee; } }
/* Safari 4.0 - 8.0 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  25% {
    opacity: .25; }
  50% {
    opacity: .50; }
  75% {
    opacity: .75; }
  100% {
    opacity: 1; } }
/* Mozilla */
@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  25% {
    opacity: .25; }
  50% {
    opacity: .50; }
  75% {
    opacity: .75; }
  100% {
    opacity: 1; } }
/* Standard syntax */
@keyframes fade-in {
  0% {
    opacity: 0; }
  25% {
    opacity: .25; }
  50% {
    opacity: .50; }
  75% {
    opacity: .75; }
  100% {
    opacity: 1; } }
.page-loading-header {
  margin-top: 10px;
  animation-name: loading;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite; }

.page-loading-body {
  margin-top: 10px;
  height: 350px;
  animation-name: loading;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite; }

.fade-in, div {
  animation-name: fade-in;
  animation-duration: .5s;
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: .5s; }

div {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all 0.3s ease-out; }

.tooltip {
  position: relative;
  display: flex;
  justify-content: center;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all 0.3s ease-out; }
  .tooltip .tooltip-text {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 0;
    width: max-content;
    background-color: rgba(43, 43, 43, 0.8);
    color: #fff;
    text-align: center;
    padding: 8px 5px;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    transform: translate(0%, -100%); }
  .tooltip:hover .tooltip-text {
    opacity: 1; }

.card-img-container {
  margin: 10px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -moz-page-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .card-img-container .img {
    max-height: 250px;
    overflow: hidden; }
  .card-img-container .card-img-header {
    padding: 10px; }
    .card-img-container .card-img-header h1, .card-img-container .card-img-header h2, .card-img-container .card-img-header h3, .card-img-container .card-img-header h4, .card-img-container .card-img-header h5, .card-img-container .card-img-header h6, .card-img-container .card-img-header p {
      margin: 0; }
  .card-img-container img {
    width: 100%; }
  .card-img-container .card-btn {
    padding: 12px;
    width: 100%;
    background-color: #fff;
    border: solid 1px #eee;
    color: #ED1B2E;
    border-radius: 0%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all 0.3s ease-out;
    background-position: center;
    transition: background .5s; }
    .card-img-container .card-btn:hover {
      border-color: rgba(237, 27, 46, 0.5);
      color: #ED1B2E; }
    .card-img-container .card-btn:active {
      background-color: rgba(237, 27, 46, 0.2);
      color: #ED1B2E;
      background-size: 100%;
      transition: background 0s; }
    .card-img-container .card-btn.active {
      color: #007953; }
      .card-img-container .card-btn.active:hover {
        border-color: rgba(0, 121, 83, 0.5); }
      .card-img-container .card-btn.active:active {
        background-color: rgba(0, 121, 83, 0.2);
        color: #007953;
        background-size: 100%;
        transition: background 0s; }
    .card-img-container .card-btn.inactive {
      color: #68737A; }
      .card-img-container .card-btn.inactive:hover {
        border-color: rgba(104, 115, 122, 0.5); }
      .card-img-container .card-btn.inactive:active {
        background-color: rgba(104, 115, 122, 0.2);
        color: #68737A;
        background-size: 100%;
        transition: background 0s; }

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0, 0, 0, 0.75);
  transition: opacity 400ms ease-in-out;
  z-index: 20; }
  .modal img {
    width: 100%; }

.modal-footer .btn, .modal-footer .btn-circle, .modal-footer .card-img-container .card-btn, .card-img-container .modal-footer .card-btn {
  font-size: 14px;
  font-weight: bold; }

.modal-header {
  border-bottom: 1px solid #bdbdbd; }

.modal-body .input-container {
  padding: 5px; }

.modal-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer; }

.modal-state {
  display: none; }

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible; }

.modal-state:checked + .modal .modal-inner {
  transform: translate(0, 0); }

.modal-inner {
  transition: .25s ease;
  position: absolute;
  transform: translate(100%, 0);
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  margin: auto;
  background: #fff;
  height: 100%; }

.modal__close {
  position: fixed;
  left: 0;
  top: 0;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
  transform: translate(-40px, 30px);
  background-color: white;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px; }

@media screen and (max-width: 768px) {
  .modal-inner {
    width: 90%;
    height: 100%;
    box-sizing: border-box; } }
.transaction-checkboxes {
  width: fit-content;
  min-width: 50%; }
  .transaction-checkboxes table {
    box-shadow: none;
    background-color: none; }
    .transaction-checkboxes table tr td input {
      cursor: pointer; }
    .transaction-checkboxes table tr:hover td {
      background-color: rgba(0, 0, 0, 0); }
    .transaction-checkboxes table tr:nth-child(odd) {
      background-color: #eee; }

table {
  margin-top: 15px;
  background-color: white;
  overflow: hidden;
  width: 100%; }

table tr {
  border-bottom: 1px solid #E0E1E2; }
  table tr:last-child {
    border-bottom: 0px; }
  table tr:hover td {
    background-color: rgba(0, 0, 0, 0.05); }
    table tr:hover td .cursor {
      height: 85%; }
  table tr td.red {
    color: #ED1B2E; }
  table tr td.bold {
    font-weight: bold; }
  table tr td.alignCenter {
    text-align: center; }
  table tr td .cursor {
    position: absolute;
    background-color: #ED1B2E;
    top: 50%;
    left: 0px;
    width: 4px;
    height: 0%;
    box-shadow: 0px 0px 6px #ED1B2E;
    -webkit-transform: translateY(-50%);
    -webkit-transition: all 0.2s ease;
    z-index: 2; }
  table tr td .icon {
    position: absolute;
    top: 50%;
    left: 0;
    color: #ED1B2E;
    font-size: 22px;
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    padding: 5px;
    margin: 0px; }
  table tr td .icon.orange {
    color: #FFB81D; }
  table tr td .icon.green {
    color: #69813C; }
  table tr td .icon.blue {
    color: #00ADD8; }
table th {
  color: #232323;
  font: bold 13px 'Century Gothic';
  text-align: left;
  padding: 25px 10px 8px 10px;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  padding: 15px 10px 8px 10px;
  border-bottom: 2px solid #ED1B2E; }
table td {
  position: relative;
  color: #232323;
  font: normal 12px 'Century Gothic';
  padding: 15px 10px;
  cursor: pointer; }

.card-table {
  background-color: #fff;
  border-radius: 5px; }

.table-footer .btn, .table-footer .btn-circle, .table-footer .card-img-container .card-btn, .card-img-container .table-footer .card-btn {
  padding: 0 15px;
  background-color: transparent;
  color: #686868; }
  .table-footer .btn:hover, .table-footer .btn-circle:hover, .table-footer .card-img-container .card-btn:hover, .card-img-container .table-footer .card-btn:hover {
    background-color: rgba(237, 27, 46, 0.5); }
  .table-footer .btn.active, .table-footer .active.btn-circle, .table-footer .card-img-container .active.card-btn, .card-img-container .table-footer .active.card-btn {
    color: white;
    background-color: #ED1B2E; }

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0; }
input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0; }

input[type="search"]::-webkit-search-decoration {
  display: none; }
input[type="search"]::-webkit-search-cancel-button {
  display: none; }
input[type="search"]::-webkit-search-results-button {
  display: none; }
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

.search-container {
  overflow: hidden;
  background-color: #fff;
  border-radius: 6px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #bdbdbd; }
  .search-container select {
    padding: 0 10px;
    border: none;
    outline: none;
    cursor: pointer; }
  .search-container .search {
    width: 100%;
    height: 30px;
    padding-left: 15px;
    border: none;
    outline: none;
    border-left: 1px solid #bdbdbd; }
  .search-container .search-icon {
    margin: 0 10px; }
    .search-container .search-icon span {
      font-size: 13px; }

.filters .search {
  background-color: white;
  width: 400px;
  border-radius: 6px;
  overflow: hidden; }
  .filters .search input {
    border: 0px;
    width: 100%;
    height: 40px;
    color: #232323;
    font-size: 12px;
    padding: 0px 35px 0px 15px;
    box-shadow: 0px 0px 6px #CECECE; }
  .filters .search .icon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    color: #232323;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    z-index: 2; }

.dropdown .dropdown-menu {
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 0px 6px #CECECE;
  width: 150px;
  display: none;
  z-index: 10; }
  .dropdown .dropdown-menu.active {
    display: block; }
  .dropdown .dropdown-menu ul li {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all 0.3s ease-out;
    padding: 10px;
    word-break: break-all;
    align-items: center; }
    .dropdown .dropdown-menu ul li span {
      font-size: 13px; }
    .dropdown .dropdown-menu ul li:hover {
      background-color: #bdbdbd;
      color: #fff; }

.input-container label {
  font-size: 12px;
  font-weight: bold; }
.input-container input {
  padding: 0 10px;
  height: 35px;
  border: 1px solid #bdbdbd;
  border-radius: 6px;
  outline: none; }

.policyinfo-container {
  height: 100px;
  padding-bottom: 50px;
  overflow: hidden; }
  .policyinfo-container.active {
    height: auto !important;
    overflow-y: auto !important; }

.showmore {
  height: 50px; }

.transaction-container .additional-policy-info {
  display: none; }
  .transaction-container .additional-policy-info .additional-content {
    padding: 10px; }
    .transaction-container .additional-policy-info .additional-content h2 {
      font-size: 20px;
      text-align: center; }
    .transaction-container .additional-policy-info .additional-content table {
      width: 50%;
      margin: auto;
      box-shadow: none !important;
      background-color: none; }
      .transaction-container .additional-policy-info .additional-content table td {
        vertical-align: middle;
        font-size: 13px;
        font-weight: bold;
        padding: 5px; }
        .transaction-container .additional-policy-info .additional-content table td .textbox {
          width: 100%; }
        .transaction-container .additional-policy-info .additional-content table td .icon {
          color: #722382;
          font-size: 20px;
          cursor: pointer; }
      .transaction-container .additional-policy-info .additional-content table td.no-padding {
        padding: 0px; }
  .transaction-container .additional-policy-info .additional-buttons {
    display: -webkit-flex;
    display: flex;
    padding: 10px;
    border-top: 1px solid #CECECE; }
    .transaction-container .additional-policy-info .additional-buttons .prev-button {
      background-color: #0064B9;
      border: 1px solid #005DB9; }
    .transaction-container .additional-policy-info .additional-buttons .divider {
      -webkit-flex: 1;
      flex: 1; }
    .transaction-container .additional-policy-info .additional-buttons .next-button {
      background-color: #007953;
      border: 1px solid #007953; }

.checkbox {
  display: block;
  position: relative;
  font-size: 14px;
  min-height: 20px;
  line-height: 20px;
  padding-left: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer; }
  .checkbox input {
    position: absolute;
    opacity: 0; }
    .checkbox input:checked ~ .checkmark {
      background-color: #0064B9 !important; }
      .checkbox input:checked ~ .checkmark:after {
        content: '';
        display: block; }
  .checkbox .checkmark {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: #bdbdbd;
    border-radius: 100%; }
    .checkbox .checkmark:after {
      content: "";
      display: none; }
  .checkbox input[type="checkbox"] ~ .checkmark {
    border-radius: 6px; }
    .checkbox input[type="checkbox"] ~ .checkmark::after {
      content: '';
      position: absolute;
      top: 40%;
      left: 50%;
      width: 5px;
      height: 10px;
      border-right: 3px solid white;
      border-bottom: 3px solid white;
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-50%, -50%) rotate(45deg); }
  .checkbox:hover input ~ .checkmark {
    background-color: #bdbdbd; }
  .checkbox input[type="radio"] ~ .checkmark::after {
    content: '';
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.no-search-result {
  color: #bdbdbd;
  display: flex;
  flex-direction: column; }
  .no-search-result span {
    font-size: 120px;
    color: #bdbdbd; }
  .no-search-result p {
    font-size: 16px;
    font-weight: bold;
    color: #bdbdbd; }

/*# sourceMappingURL=Override.css.map */
